.about-container {
    max-width: 900px;
    margin: 50px auto;
    padding: 30px;
    background: #f8f8f8;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.about-container h2 {
    font-size: 28px;
    color: #2c3e50;
    margin-bottom: 15px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.about-container p {
    font-size: 16px;
    color: #555;
    line-height: 1.8;
    text-align: justify;
}

.about-objectives {
    margin-top: 20px;
    text-align: left;
}

.about-objectives h3 {
    font-size: 22px;
    color: #bb501a;
    margin-bottom: 10px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    

}

.about-objectives ul {
    list-style: none;
    padding: 0;
}

.about-objectives ul li {
    font-size: 16px;
    color: #333;
    padding: 8px 0;
    display: flex;
    align-items: center;
}

.about-objectives ul li::before {
    content: "✅";
    margin-right: 8px;
    font-size: 18px;
    color: #27ae60;
}
